:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Soft-blue-2: hsla(215, 52%, 70%, 0.189);
    --Very-dark-blue-1: hsl(217, 54%, 11%);
    --Very-dark-blue-2: hsl(216, 50%, 16%);
    --White: hsl(0, 0%, 100%);
    --Cyan: hsl(178, 100%, 50%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit",sans-serif;
}

body{
    background-color:var(--Very-dark-blue-1) ;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--Very-dark-blue-2);
    width: 338px;
    height: 594px;
    border-radius: 0.5rem;
}

.text-picture{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.2rem 1rem 1rem 1rem;
}

.text-picture img{
    width: 100%;
    border-radius: 0.5rem;
}

.text-picture h3{
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--White);
}

h3 :hover{
    color: var(--Cyan);
}

.text-picture span{
 color: var(--Soft-blue);   
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info .ETH{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.info .ETH h4{
    color: var(--Cyan);
    padding-left: 0.5rem;
}

.info .time-left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.info .time-left span{
    color: var(--Soft-blue);
}

.info .time-left img{
    padding-right: 0.5rem;
}

hr {
    border: 0;
    height: 0.5px;
    background-color: var(--Soft-blue-2);
    margin: 1rem 1rem 0rem 1rem;
}

.credit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.credit img{
    width: 30px;
    border: 0.1px solid var(--White);
    border-radius: 1rem;
}

.credit span{
    font-weight: lighter;
    color: var(--Soft-blue);
    padding-left: 0.5rem;
}

.credit strong{
    color: var(--White);
    font-weight: 350;
}
